# 图书RAG检索与知识库问答
# 监听目录
ListeningDirectory = ./books/
# 监听文件类型
ListeningFileType = .txt
# 监听端口
port = 8092

# 重检测时间间隔（秒）
recheck_interval = 600

# 硅基流动AI配置
# apibase
apibase = https://api.siliconflow.cn/v1/chat/completions
# 对话模型
chat_model = deepseek-ai/DeepSeek-V4-Flash
# 嵌入模型
embedding_model = Qwen/Qwen3-Embedding-8B
# 重排序模型
reranking_model = Qwen/Qwen3-Reranker-8B
# token
token = your_token_here

# 代理设置
proxy = None

# 数据库配置
sqlite_db_path = ./books.db